requests
#urllib already on python3
numpy
pandas==1.2.5
#zipfile already on python3
pytesseract
opencv-contrib-python-headless==4.4.0.46
selenium
xlrd # excel files
openpyxl # excel files
requests_html
